<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/main.css" media="screen" charset="utf-8">
    <title><%= $BLOG_TITLE %></title>
  </head>
  <body>
    <main>
      <header>
        <h1><%= $BLOG_TITLE %> <small><%= $BLOG_DESC %></small></h1>
      </header>
      <% $posts.each do |post| %>
        <% post = post as Hash %>
        <% if post["type"] == "post" %>
          <%= render "src/kamber/views/types/post.ecr" %>
        <% elsif post["type"] == "tweet" %>
          <%= render "src/kamber/views/types/tweet.ecr" %>
        <% elsif post["type"] == "video" %>
          <%= render "src/kamber/views/types/video.ecr" %>
        <% elsif post["type"] == "gist" %>
          <%= render "src/kamber/views/types/gist.ecr" %>
        <% elsif post["type"] == "link" %>
          <%= render "src/kamber/views/types/link.ecr" %>
        <% end %>
      <% end %>
      <footer>
        <small>Powered by <a href="http://github.com/sdogruyol/kemal">kemal</a> and <a href="http://github.com/f/kamber">kamber</a></small>
      </footer>
    </main>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= $GOOGLE_ANALYTICS %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
