<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/main.css" media="screen" charset="utf-8">
    <title><%= $BLOG_TITLE %> | <%= post["title"] %></title>
  </head>
  <body>
    <main>
      <header>
        <a class="back" href="/">&larr; <%= $BLOG_TITLE %></a>
        <h1><%= post["title"] %></h1>
        <div class="meta">
          <small><%= post["date"] %> by <%= post["writer"] %></small>
        </div>
      </header>
      <article class="contents">
        <%= Markdown.to_html contents %>
        <% if post["disqus"] == "true" %>
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//kamber-test.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
        <% end %>
      </article>
    </main>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= $GOOGLE_ANALYTICS %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
