<%
  file = (post["file"] as String)
    .gsub(/\.md$/, "")
    .gsub(/^posts\//, "")
%>
<article class="post">
  <header>
    <h2>
      <a href="/<%= file %>"><%= post["title"] %></a>
    </h2>
    <% if post["abstract"] %>
      <p class="abstract">
        <%= post["abstract"] %>
      </p>
    <% end %>
  </header>
</article>
