<article class="tweet">
  <header>
    <h2><%= post["title"] %></h2>
  </header>

  <blockquote class="twitter-tweet" data-cards="hidden" lang="en">
    <% tweet = (post["tweet"] as String).split("/") %>
    <a href="https://twitter.com/<%= tweet[0] %>/status/<%= tweet[1] %>"></a>
  </blockquote>
</article>
