<article class="video">
  <header>
    <h2><%= post["title"] %></h2>
  </header>

  <% video = (post["video"] as String).split("/") %>
  <% if video[0] == "youtube" %>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= video[1] %>" frameborder="0" allowfullscreen></iframe>
  <% elsif video[0] == "vimeo" %>
    <iframe width="640" height="360" src="https://player.vimeo.com/video/<%= video[1] %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</article>
